body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #52025f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(11, 0, 47);
  }
  
  .chat-window {
    width: 800px;
    background-color: #bcb0b0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgb(0, 255, 157);
  }
  
  .chat-area {
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  
  .user-input {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  #message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #send-button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  #send-button:hover {
    background-color: #0056b3;
  }

  .copyright {
    position: relative;
    padding: 10px;
    bottom: 0;
    font-size: 16px;
    color: #f2f2f2;
    width: 100%;
    background-color: rgb(41, 41, 41);
    text-align: center;
  }
  
  .fa-heart {
    font-size: 20px;
    color: #fd0606;
    animation: beat 1s infinite alternate; /* 1s duration, infinite repetition, and alternate direction */
  }
  
  @keyframes beat {
    0% {
      transform: scale(1); /* start at normal size */
    }
    50% {
      transform: scale(1.1); /* scale up a bit */
    }
    100% {
      transform: scale(1); /* return to normal size */
    }
  }